.UserCard-lastSeen.online .fa-circle,
.PostUser .UserOnline .fa-circle {
  animation:Flarum-Online-Circle 3s infinite;
}
.UserCard-lastSeen.online .fa-circle::after,
.PostUser .UserOnline .fa-circle::after {
  content:"";
  position:absolute;
  border-radius:50%;
  background:inherit;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  bottom:0;
  right:0;
  top:1px;
  left:1px;
  outline:2px solid var(--online-user-circle-color);
  transform:scale(1);
  animation:Flarum-Online-Dot 3s infinite;
}
@keyframes Flarum-Online-Circle {
  10% {
    transform:scale(.7);
  }
  30% {
    transform:scale(1);
  }
}
@keyframes Flarum-Online-Dot {
  10% {
    transform:scale(1);
    opacity:1;
  }
  50% {
    transform:scale(3);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:0;
  }
}