/* Animated online indicator post and profile */

/* Online icon (fa-circle) */
.UserCard-lastSeen.online .fa-circle,
.PostUser .UserOnline .fa-circle {
  color: var(--online-user-circle-color);
  position: relative;
}

/* Pulse */
.UserCard-lastSeen.online .fa-circle::after,
.PostUser .UserOnline .fa-circle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--online-user-circle-color);
  box-shadow: 0 0 0 0 var(--online-user-circle-color);
  animation: Flarum-Online-Pulse 3s infinite ease-out;
}

/* Animate pulse */
@keyframes Flarum-Online-Pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 200, 0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 200, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
  }
}

/* Afrox online user list animation */

.Afrux-OnlineUsersWidget-users-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: -1px;
  margin-left: -35px;
  border-radius: 50%;
  background-color: var(--online-user-circle-color);

  /* initial alone */
  box-shadow: 0 0 0 0 var(--online-user-circle-color);
  animation: Flarum-Online-Dot 3s infinite ease-out;
}

@keyframes Flarum-Online-Dot {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 200, 0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(0, 200, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
  }
}