li.item-tag7 {
    display: none !important;
}
li.item-tag8 {
    display: none !important;
}
li.item-tag9 {
    display: none !important;
}
li.item-tag10 {
    display: none !important;
}
li.item-tag11 {
    display: none !important;
}
li.item-tag12 {
    display: none !important;
}
li.item-moreTags {
    display: none !important;
}